@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: white;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: black;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #617bf1;
    color: #fff;
    transition: all 0.3s;
    overflow: scroll;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #2c3d88;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #2c3d88;
    background: #fff;
}

.news-sidenav-hover:hover {
    color: #2c3d88;
    background: none !important;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

/* .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
} */

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 20px 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

.hero-background {
    height:55vh;
    min-height:400px;
    background-size:cover;
    background-image:linear-gradient(rgba(29, 30, 114, 0.4), rgba(4, 3, 102, 0.4)),url('../img/hero.jpg');
}

@media (max-width: 500px) {
    .hero-background {
        height:95vh;
        background-size:cover;
        background-image:linear-gradient(rgba(29, 30, 114, 0.4), rgba(4, 3, 102, 0.4)),url('../img/hero.jpg');
    }
}

.search-width {
    padding: 0px 0px 0px 0px;
    font-size: 13px;
}

.search-btn-width {
    font-size: 13px;
}

.search-border {
    border-radius: 25px;
}

.search-btn-border {
    border-radius: 25px;
}

.nav-bg {
    background-color: rgba(22, 22, 36, 0.7) !important;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media only screen and (min-width: 992px) {
    .nav-custom-margin-right {
        margin-right: 10rem;
    } 

    .nav-custom-margin-top {
        margin-top: 80px;
    } 

    .navbar {
        padding: 25px 10px 0px 10px;
    }
}
    
.who-we-are {
    height: 100vh;
}

.analyze {
    height: 100%;
}

.header {
    position: static;
    text-align: center;
    background: white;
    color: white;
  }
  .logo {
    width: 50px;
    fill: white;
    padding-right: 15px;
    display: inline-block;
    vertical-align: middle;
  }
  .inner-header {
    width: 100vw;
    margin: 0;
    padding: 0;
  }
  /* .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  } */
  .waves {
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top: 60px;
    /*Fix for safari gap*/
    min-height: 80px;
    max-height: 40px;
  }
  .content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
  }
  /* Animation */
  .parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height: 40px;
      min-height: 40px;
    }
    .content {
      height: 30vh;
    }
    h1 {
      font-size: 24px;
    }
    /* h4 {
      font-size: 14px;
    } */
    .inner-header {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
  }  

  @media (min-width: 768px) {
    .sub-plan-check-top {
        margin-top: 40px;
    }
  }

.call-to-action {
    height: 30vh;
}

.cta-margin-top {
    padding-top: 55px;
}

.footer-main {
    background-color: #101c53;
    color: white;
}

.financial-statement {
    margin-top: 150px;
    height: 100%;
}

.copyright {
    position: absolute;
    bottom: 0;
    right: 0; 
    background-color: #e6e6e6;
}

.sidebar-active {
    color: #2c3d88;
    background: #fff;
}


.top-margin {
    margin-top: 150px;
    height: 100%;
}

.announcement {
    position: fixed;
    right: 0;
    top: 110px;
    width: 30%;
}

@media (max-width: 768px) {
    /* .announcement {
        position: fixed;
        right: 0;
        top: 100px;
        width: 80%;
    } */

    #scroll-to-top {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: rgba(255, 196, 0, 1);
        color: white;
        cursor: pointer;
        padding: 10px;
        border-radius: 4px;
    }
  } 

.survey-card{
    float:left;
    padding:0px 10px;
    width: 33%;
}

.survey-result-card{
    float:left;
    padding:0px 10px;
    width: 46%;
    background:white;
    margin: 1%;
    padding: 1%
}

.main-color {
    background-color: #101c53;
}

.ash-btn-color {
    background-color: #d4d4d4;
}

.main-text-color {
    color: #101c53;
}

.drb-hide {
    display: none;
}

.radio-back-color {
    background-color: #f2f2f2;
}

.progress-height {
    height: 30px; 
}

#scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(255, 196, 0, 1);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}

@media (max-width: 500px) {
    #scroll-to-top {
        display: none;
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: rgba(255, 196, 0, 1);
        color: white;
        cursor: pointer;
        padding: 10px;
        border-radius: 4px;
    }
} 

.submitted-question-answer {
    color: #999;
 }
 
@media (min-width: 992px) {
    .search-custom-margin {
        position: fixed;
        margin-left: 17%;
        width: 500px; 
    }
}

@media (max-width: 345px) {
    .search-width {
        padding: 0px 0px 0px 0px; 
    }

    /* .search-custom-margin {
        margin-left: -5%;
        width: 176px; 
    } */
}

input[type="search"]::placeholder {  
                  
    /* Firefox, Chrome, Opera */ 
    text-align: center; 
} 

.custom-header-top {
    margin-top: 112px;
}

.custom-news-header-top {
    margin-top: 125px;
}

.custom-news-nav-header-top {
    margin-top: 105px;
    overflow: auto;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}

.custom-news-nav-header-top::-webkit-scrollbar {
    display: none;
}

@media (max-width: 767px) {
    .custom-news-nav-header-top {
        margin-top: 170px;
        background-color: rgba(0, 0, 0, 0.8) !important;
        color: white !important;
    }

    .custom-news-header-top {
        margin-top: 170px;
    }
}

.news-sidenav-active {
    background-color: rgb(16, 28, 83);
    color: white !important;
    border-radius: 0px 25px 25px 0px;
    width: 85%;
}

.news-sidenav-active:hover {
    background-color: rgb(16, 28, 83) !important;
    color: white !important;
    border-radius: 0px 25px 25px 0px;
}

@media (max-width: 1200px) {
    .news-sidenav-active {
        background-color: rgb(16, 28, 83);
        color: white !important;
        border-radius: 0px 25px 25px 0px;
        width: 70%;
    }  
}

@media (max-width: 980px) {
    .news-sidenav-active {
        background-color: rgb(16, 28, 83);
        color: white !important;
        border-radius: 0px 25px 25px 0px;
        width: 60%;
    }  
}

.price-text {
    font-size: 100%;
    color: black;
}

.price-text-2 {
    font-size: 12px;
    color: black;
}
 
.pricing .card {
    border: none;
    border-radius: 5px;
    transition: all 0.1s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
  
.pricing hr {
    margin: 1.5rem 0;
}
  
.pricing .card-title {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    font-weight: bold;
    color: #101c53;
}
  
.pricing .card-price {
    font-size: 1.5rem;
    margin: 0;
}
  
.pricing .card-price .period {
    font-size: 0.8rem;
}
  
.pricing ul li {
    margin-bottom: 1rem;
}
  
.pricing .text-muted {
    opacity: 0.9;
}
  
/* .pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
} */
  
/* Hover Effects on Card */
@media (min-width: 992px) {
    .pricing .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .pricing .card:hover .btn {
      opacity: 1;
    }
}

.custom-price-card-margin {
    margin-bottom: -10px;
}

.success-failure-card-top {
    margin-top: 100px;
}

.morecontent span {
    display: none;
}

.morelink {
    display: block;
}

.news-list-img {
    width: 200px;
}

.top5-news-img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

@media (max-width: 500px) {
    .top5-news-img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .owl-prev,
    .owl-next {
    height: 0px;
    position: absolute;
    text-align: center;
    top: 28% !important;
    transform: translateY(-50%);
    width: 0px;
    }
}

.category-news-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.news-index-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
}

.category-news-heading-border {
    border-bottom: 1.4px dashed rgb(230, 230, 230);
    padding: 10px 0px;
}

.category-news{
    font-size: 1.176em;
    font-weight: 300;
    margin-top: -3px;
}

.featured-news-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.featured-img {
    position: relative;
}

.featured-img-text {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 40%;
    height: 100%;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
}

@media only screen and (max-width: 767px) {
    .featured-img {
        position: static;
    }
    
    .featured-img-text {
        position: static;
        width: 100%;
        height: 100%;
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
        background-color: rgba(0, 0, 0, 0.8); 
        color: white;
    }
}

.nav-item-custom-size {
    font-size: 13px;
    font-weight: 700 !important;
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
    .nav-item-custom-size {
        font-size: 11px;
        font-weight: 600 !important;
    }
}

.aside-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.news-line-height {
    line-height: 1.2;
}

.subnews-line-height {
    line-height: 1;
}

.pricing-card-border-radius {
    border-radius: 15px !important;
}

.pricing-card-border-top {
    border-top: 2px solid #FFC107 !important;
    border-bottom: 2px solid #FFC107 !important;
}

.table-custom-font-size {
    font-size: 14px;
}

.data-matrix th{
    text-align: center;
    vertical-align: top;
}


.data-matrix{
    font-size: .8em;
}

.legend{
    float: left;
    /* width: 15%; */
    /* padding: 50px; */
    color: #888;
    background-color: #e6e6e6;
    font-size: .7em;
}

.data-matrix-admin-panel-table {
    height: 500px;
}

/* Owl carousel */
.owl-prev,
.owl-next {
  height: 0px;
  position: absolute;
  text-align: center;
  top: 18%;
  transform: translateY(-50%);
  width: 0px;
}

.owl-next {
  right: 30px;
}

.owl-prev {
  left: 20px;
} 

.owl-next:focus {
  outline:none;
}
  
.owl-prev:focus {
  outline:none;
} 

.search-bar-index{
    -webkit-box-shadow: -2px 3px 54px 2px rgba(0,0,0,1);
    -moz-box-shadow: -2px 3px 54px 2px rgba(0,0,0,1);
    box-shadow: -2px 3px 54px 2px rgba(0,0,0,1);
}
.sliding-news{
    background-color: #100b32;
}

.black-card{
    background-color: #100b32;
}


.black-card p{
    color:rgb(236, 233, 233);
}

.black-card img{
    -webkit-box-shadow: -2px 3px 14px 2px rgba(0,0,0,1);
    -moz-box-shadow: -2px 3px 14px 2px rgba(0,0,0,1);
    box-shadow: -2px 3px 14px 2px rgba(0,0,0,1);
}


.black-card img:hover{
    -webkit-box-shadow: -2px 3px 34px 2px rgba(0,0,0,1);
    -moz-box-shadow: -2px 3px 34px 2px rgba(0,0,0,1);
    box-shadow: -2px 3px 34px 2px rgba(0,0,0,1);
}

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(/img/spinner.gif) center no-repeat #fff;
}

@media (max-width: 991px) {
    .custom-toggler.navbar-toggler {
        position: relative;
        border:none !important;
        left: -5px;
        right: 0;
        top: -57px;
        bottom: 0;
    }

    .navbar-toggler:focus, .navbar-toggler:active {
        outline: none;
        box-shadow: none;
    }

    .search-custom-margin {
        margin-top: -7px;
        width: 100%;
        height: 0px; 
    }

    .navbar-brand {
        position: relative;
        left: 50px;
        right: 0;
        top: -5px;
        bottom: 0;
    }

    .announcement {
        position: fixed;
        right: 0;
        top: 148px;
        width: 80%;
    }

    .auth-nav-btn {
        position: relative;
        left: 85%;
        right: 0;
        top: -75px;
        bottom: 0;
    }
}

@media (min-width: 992px) {
    .auth-nav-btn {
        display: none;
    }
}

.word-break {
    overflow-wrap: break-word;
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 45px;
}

@media only screen and (max-width: 767px) {
    .word-break {
        overflow-wrap: break-word;
        font-size: 14px;
        line-height: 18px;
        padding-bottom: 0px;
    }
}

.finance-table th:first-child, .finance-table td:first-child {
    position: sticky !important;
    left: 0px;
    background-color: #F7F7F7;
}

.th-bg-color {
    background-color: #F7F7F7 !important;
    z-index: 1;
}

.finance-table-font-size {
    font-size: 14px;
}

.ssl-banner {
    width: 60%;
}

.pci-banner {
    width: 10%;
}

.news-comment-time-text {
    font-size: 10px;
}

.news-share-buttons {
    transform: scale(0.75);
    margin: -53px 160px 0px 0px;
}

@media only screen and (min-width: 1550px) {
    .news-share-buttons {
        transform: scale(0.75);
        margin: -53px 220px 0px 0px;
    }
}

.comment-btn-top {
    margin: -73px 0px 0px 0px;
}

.comment-field-top {
    margin: -5px 0px 0px 0px;
}

@media only screen and (max-width: 767px) {
    .comment-field-top {
        margin: 20px 0px 0px 0px;
    }

    .news-share-button-mobile {
        position: relative;
        top: -50px;
        Left: -35px;
        right: 0px;
        bottom: 0px;
    }

    .news-share-buttons {
        position: absolute;
        transform: scale(0.5);
    } 

    .comment-btn-top {
        margin: 0px 0px 0px 0px;
    }
}

.single-news-border {
    border: 1px solid rgb(219, 219, 219);
    border-radius: 15px;
    padding: 15px;
}

.most-recent-border {
    border: 1px solid rgb(219, 219, 219);
    border-radius: 15px;
}

.news-toggle-button {
    position: fixed;
    top: 120px;
    z-index: 99;
}